version: 2
updates:
  # Enable version updates for pnpm in the root directory
  - package-ecosystem: "npm"
    # Look for `package.json` in the `root` directory
    directory: "/"
    # Check the npm registry for updates every day (weekdays)
    schedule:
      interval: "daily"
    # Ignore all react native dependencies
    ignore:
      - dependency-name: "react"
      - dependency-name: "react-native"
      - dependency-name: "@babel*"
      - dependency-name: "@react-native*"
      - dependency-name: "@types*"
      - dependency-name: "babel-jest"
      - dependency-name: "eslint"
      - dependency-name: "jest"
      - dependency-name: "prettier"
      - dependency-name: "react-test-renderer"
      - dependency-name: "typescript"

  # Enable version updates for pnpm in the mock-server directory
  - package-ecosystem: "npm"
    # Look for `package.json` in the `mock-server` directory
    directory: "/mock-server"
    # Check the npm registry for updates every day (weekdays)
    schedule:
      interval: "daily"

  # Disable any ruby updates as these are done manually as a part of a react native upgrade
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
